.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  align-self: baseline;
}

.khan__buy-link:hover {
  opacity: 60%;
  transition: opacity .5s ease-in-out;
}